@import "tailwindcss";

body {
  background-color: #ededed;
}

.neomorphism {
  box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #ffffff;
}

.neomorphism-sm {
  box-shadow: 2px 2px 6px #d1d9e6, -2px -2px 6px #ffffff;
}

.neomorphism-md {
  box-shadow: 4px 4px 8px #d1d9e6, -4px -4px 8px #ffffff;
}

/* body {
  background-color: #1e293b;
}

.neomorphism {
  box-shadow: 8px 8px 16px #0f172a, -8px -8px 16px #334155;
}

.neomorphism-sm {
  box-shadow: 2px 2px 6px #0f172a, -2px -2px 6px #334155;
}

.neomorphism-md {
  box-shadow: 4px 4px 8px #0f172a, -4px -4px 8px #334155;
} */

div:has(.guess-background) + div:has(.guess-background) {
  animation: insertBelow .2s;
}

@keyframes insertBelow {
  0% {
    margin-top: -20px;
  }
  100% {
    margin-top: 0px;
  }
}

.guess-background {
  animation: .4s guessBackground forwards cubic-bezier(0.3, 0, 0, 1);
  transform: scaleX(0);
  transform-origin: center left;
}

@keyframes guessBackground {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.flip-tile {
  animation: .4s flipTile forwards cubic-bezier(0.3, 0, 0, 1);
  transform-style: preserve-3d;
  transform: rotateY(90deg);
}

@keyframes flipTile {
  0% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0);
  }
}

.bg-main {
  background-image: radial-gradient(circle farthest-corner at 50% 50%, #031f28 0%, #07323f 145%);
  background-repeat: repeat;
}

.grow-in-animation {
  animation: growIn .2s ease-in-out forwards;
  transform: scale(0);
}

@keyframes growIn {
  0% {
    transform: scale(0.5);
  }
  60% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.grow-out-animation {
  animation: growOut .2s ease-in-out forwards;
}

@keyframes growOut {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.translate-in-animation {
  animation: translateIn .4s cubic-bezier(0.3, 0, 0, 1);
}

@keyframes translateIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.translate-out-animation {
  animation: translateOut .2s cubic-bezier(0.3, 0, 0, 1) forwards;
}

@keyframes translateOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

.fade-in-animation {
  animation: fadeInAnimation .2s ease-in-out forwards;
  opacity: 0;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  70% {
    opacity: 1;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu-in-animation {
  animation: .2s menuInAnimation;
  transform-origin: top right;
}

@keyframes menuInAnimation {
  0% {
    transform: scale(0);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  100% {
    transform: scale(1);
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
  }
}

.menu-out-animation {
  animation: .2s menuOutAnimation forwards;
  transform-origin: top right;
}

@keyframes menuOutAnimation {
  0% {
    transform: scale(1);
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
  }
  100% {
    transform: scale(0);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }
}

.background-fade-in-animation {
  animation: .2s backgroundFadeInAnimation forwards;
}

@keyframes backgroundFadeInAnimation {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.background-fade-out-animation {
  animation: .2s backgroundFadeOutAnimation forwards;
}

@keyframes backgroundFadeOutAnimation {
  0% {
    background-color: rgba(0, 0, 0, 0.3);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

.selected-tile-animation {
  border-width: 1px;
  animation: .2s selectedTile forwards cubic-bezier(0.2, 0, 0, 1);
}

@keyframes selectedTile {
  0% {
    border-width: 1px;
  }
  80% {
    border-width: 3px;
  }
  100% {
    border-width: 2px;
  }
}

.clicked-button-animation {
  animation: clickedButton .2s cubic-bezier(0.3, 0, 0, 1);
}

@keyframes clickedButton {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(.7);
  }
  100% {
    transform: scale(1);
  }
}

.pop-up-animation {
  animation: popUp .3s cubic-bezier(0.3, 0, 0, 1);
}

@keyframes popUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
